<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Meu Site</title>
</head>
<body>
    <h1>Faça Login Para Entrar na Aplicação!</h1>
    <br>
    <form th:action="@{/api/login}" th:object="${user}" method="post">
    <div>
        <label for="username">Usuário:</label>
        <input type="text" id="username" th:field="*{userName}" />
    </div>
    <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" th:field="*{senha}" />
    </div>
    <div>
        <button type="submit">Entrar</button>
    </div>
    <div th:if="${msg}">
        <p th:text="${msg}" style="color: red;"></p>
    </div>
</form>
   
</body>
</html>
